.navbar-brand img{
    height: 30px;
    width: 30px;
}

body{
    background-image: url("image/forest.jpeg");
    background-repeat: none;
    background-size: cover;
    font-family:'Oswald', sans-serif;
}

.navbar-brand {
    font-family: 'Oswald', sans-serif;
}